* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Inter', sans-serif;

}


/* common css end */


/* Header top start */
#header_top{
    height: 46px;
    background-color: #EBF0F0;
}
#header_top .mar_left{
    margin-left: 33px;
}

#header_top p{
    line-height: 46px;
}
#header_top .mar_right{
    margin-right: 33px;
}

/* Header top end */



/* Product code start */

#bodys_body .container .row {
    justify-content: space-between;
}

#bodys_body i {
    color: #FFCD3C;
    font-size: 20px;
    margin-bottom: 11px;
    margin-top: 28px;
}

#bodys_body  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px ;
}
#bodys_body .big_buck{
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
#bodys_body .small_buck{
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #8F8F8F;
}

/* Product code end */


/* Banner 50% width(1) start */
#banner_product .newuserdiscount1 {

    background: url(../images/13.png)center no-repeat;
    background-size: cover;
    padding: 77px 35px;
}
#banner_product .newuserdiscount2 {

    background: url(../images/14.png)center no-repeat;
    background-size: cover;
    padding: 77px 35px;
}
#banner_product h4{
    font-weight:400;
    font-size: 24px;
    line-height: 24px;
}
#banner_product  h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
}
#banner_product  p{
    margin-top: 31px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
}
/* Banner 50% width(1) end */


/* Banner for 8*4 start */
#banner_product .newuserdiscount3 {

    background: url(../images/20.png)center no-repeat;
    background-size: cover;
    padding: 77px 35px;
}
#banner_product .newuserdiscount4 {

    background: url(../images/21.png)center no-repeat;
    background-size: cover;
    padding: 77px 35px;
}


/* Banner for 8*4 end */

/* Banner for 4*8 start */

#banner_product .newuserdiscount5 {

    background: url(../images/22.png)center no-repeat;
    background-size: cover;
    padding: 77px 35px;
}
#banner_product .newuserdiscount6 {

    background: url(../images/23.png)center no-repeat;
    background-size: cover;
    padding: 77px 35px;
}
/* Banner for 4*8 end */